@import url('../config.css');

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grad-chat);
  border-radius: 0.9rem 0.9rem 0 0;
  height: 4.5rem;
  width: 100%;
  padding: 0.3rem 0;
  text-shadow: 0.5px 0.8px rgba(0, 0, 0, 0.4);
}

.leftInnerContainer {
  /* flex: 0.5; */
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  color: white;
  
}

.leftInnerContainer .icons{
  color: white;
  font-size: 1.3rem;
  opacity: 1;
  margin-right: 0.2rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(167, 117, 117, 0.6);
  border-radius: 50%;
}

.leftInnerContainer .icons:hover{
  color: var(--hover-two);
  box-shadow: none;
}
.rightInnerContainer {
  display: flex;
  justify-content: flex-end;
  width: 78%;
  margin-right: 5%;
  align-items: center;
}

.rightInnerContainer .m-display-name{
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
  color: var(--light);
  line-height: 1.2;
}

.rightInnerContainer .m-display-name .head-name{
  font-size: 1rem;
  font-size: bold;
  padding: 0.2rem 0;
}

.rightInnerContainer .m-display-name .m-adj{
  font-size: 0.75rem;
  font-weight: lighter;
}

.rightInnerContainer .tag-img{
  box-shadow: 0 0.4px 2px rgba(56, 56, 56, 0.6);
}