@import url('../config.css');

.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 0.8rem;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.send-button {
  color: #fff !important;
  background: var(--hover-two);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  cursor: pointer;
}

.add-attachments{
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  cursor: pointer;
  position: relative;
}

.add-attachments .add-attachments-text{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}
.add-attachments .add-shot-input{
  opacity: 0;
  width: 100%;
  position: absolute;
}

.send-button .send-circle .send-icon{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.2rem;
}

