@import url('../config.css');

.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 0.8rem;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.send-button {
  color: #fff !important;
  background: #2979FF;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  cursor: pointer;
}

.send-button .send-circle .send-icon{
  font-size: 1.6rem;
  font-size: bold;
  padding: 0.2rem;
}

