@import url('../config.css');


.messages-container{
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
.messageBox {
  background: #F3F3F3;
  border-radius: 0.75rem;
  padding: 0.5rem 0.7rem;
  color: white;
  display: inline-block;
  max-width: 80%;
  /* min-width: 8vw; */
  margin: 0.18rem 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 0.95em;
  margin:0;
  padding: 0;;
  word-wrap: break-word;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  align-items: center;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  /* letter-spacing: 0.3px; */
  font-size: 0.68rem;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 0.8rem;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: var(--hover-two);
}

.backgroundLight {
  background: #F3F3F3;
}
