@import url('config.css');

/* CAMERA ADD BTN cover */
.camera-cover {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.camera-cover .camera-icon {
    height: 1.8rem;
    width: 1.8rem;
}

.camera-cover .cam-plus {
    position: absolute;
    top: 0.45rem;
    right: 0.45rem;
    /* border: 2px solid black; */
}

.camera-cover .cam-plus-below {
    position: absolute;
    top: 1.30rem;
    right: 0.3rem;
}

/* DOCUMENT FORM */
.doc-form {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.doc-form .img-upload-form {
    height: 90vh;
    width: 45vw;
    background: #fff;
    color: var(--dark);
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
}

.img-upload-form .doc-head {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid var(--border-grey);
    margin-bottom: 0.5rem;
}

.img-upload-form .top-logo {
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-upload-form .cam-logo {
    height: 1.5rem;
    width: 1.5rem;
}

.img-upload-form .doc-body {
    flex: 4;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);

}


.img-upload-form .doc-body label {
    display: block;
    width: 100%;
    font-size: 0.9rem;
    color: var(--dark);
}

.img-upload-form .doc-body input,
.img-upload-form .doc-body textarea {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0;
    padding: 0.4rem;
    padding-left: 0;
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--dark);
    line-height: 1;
    margin-bottom: 0.9rem;
    resize: none;
}

.doc-body .pf-loc {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pf-loc .pf-div {
    flex: 2;
    padding-right: 0.5rem;
}

.pf-loc .loc-div {
    flex: 1;
}

.doc-body .pf-loc label,
.doc-body .pf-loc input {
    width: 100%;

}

.doc-body .editor{
    width: 100%;
    border-bottom: 1px solid var(--dark);
    max-height: 12vh;
    overflow-y: scroll;
}

.select-doc {
    width: 100%;
    height: 5.5vh;
    margin: 0.8rem;
    background: #1cd5ff;
    border: 1px dashed blue;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-doc .file-selector {
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0;
}


#file-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

#file-count span {
    padding: 0 0.5rem;
}


.uploaded-preview {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.uploaded-preview .swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploaded-preview .swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.uploaded-preview .swiper-button-prev:after,
.uploaded-preview .swiper-button-next:after {
    font-size: 1rem;
    color: var(--hover-two);
    font-weight: bold;
}

.uploaded-preview .swiper-slide {
    width: 8vh;
    height: 8vh;
    position: relative;
    top: 0;
    object-fit: cover;
    margin: 0 0.3rem;
}

.uploaded-preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.close-img {
    float: right;
}

.img-upload-form .doc-btn {
    flex: 1;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.doc-btn .apply-btn {
    width: 10vw;
    margin-left: 0;
}

/* Add member */
.member-list {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.check-t-c {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.2rem 0;
}

.check-t-c .check-box{
    margin: 0 !important;
    margin-right: 0.2rem !important;
}

.check-t-c input {
    flex: 1;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.check-t-c .t-c-line {
    flex: 20;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.check-t-c .t-c-line .t-c-highlight {
    color: var(--hover-two);
    margin-left: 0.2rem;
    font-weight: bold;
}


.allow-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.allow-price .attach-label{
    width: auto !important;
    margin-right: 0.8rem;
}

.allow-price .pricing-container{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.35rem 0.8rem;
    border: 1px solid #1cd5ff;
    border-radius: 0.5rem;
}

.allow-price .pricing-container .custom-select{
    width: 10vw !important;
    margin-right: 0.5rem;
}

.allow-price .pricing-container select{
    width: 10vw !important;
    margin-right: 0.5rem;
    padding: 0.35rem 0.4rem;
    border: 1px solid var(--border-grey);
    font-size: 0.8rem;
}

.allow-price .pricing-container select option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0;
}


.allow-price .pricing-container .add-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.allow-price .pricing-container .add-price input {
    border: 1px solid var(--border-grey);
    padding: 0.4rem;
    margin: 0;
    margin-left: 0.5rem;
}

@media (max-width: 900px) {
    .camera-cover {
        bottom: 1.2rem;
        right: 1.2rem;
    }

    .doc-form .img-upload-form {
        position: fixed;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }


}

@media(max-width: 500px) {

    .doc-form .img-upload-form label,
    .doc-form .img-upload-form input,
    .doc-form .img-upload-form select,
    .doc-form .img-upload-form textarea,
    .select-doc .file-count {
        font-size: 0.8rem;
    }

    .member-list .item-span {
        font-size: 0.6rem;
    }

    .item-span-anc .tooltiptext {
        max-height: 50vh;
        max-width: 100vw;
        font-size: 0.6rem;
    }

    .doc-btn .apply-btn {
        width: 30vw;
    }

}

@media (max-width: 850px){
    .camera-cover{
        height: 2.8rem;
        width: 2.8rem;
    }
    .camera-cover .camera-icon {
        height: 1.2rem;
        width: 1.2rem;
    }
    .camera-cover .cam-plus , .camera-cover .cam-plus-below{
        font-size: 0.8rem;
    }
    .camera-cover .cam-plus{
        top: 0.25rem;
        right: 0.25rem;
    }
    .camera-cover .cam-plus-below{
        top: 1.10rem;
        right: 0.1rem;
    }
    .allow-price {
        flex-direction: column;
    }
    .allow-price .pricing-container .custom-select{
        width: 18vw !important;
    }
    
}

@media (max-height: 500px){
    .doc-form{
        height: 100vh;
        overflow: scroll;
    }

    .doc-form .img-upload-form{
        position: absolute;
        overflow: scroll;
        padding: 0.8rem 0;
    }

    .doc-form .doc-body{
        margin-top: 2rem
    }
    .doc-form .img-upload-form .doc-head{
        display: none;
    }

    .img-upload-form .doc-body label,
    .img-upload-form .doc-body input,
    .img-upload-form .doc-body textarea{
        font-size: 0.6rem;
    }

    .img-upload-form .doc-btn .btn{
        padding: 0.2 0.8rem !important;
        font-size: 0.5rem;
    }

    #file-count{
        font-size: 0.8rem;
    }

    .check-t-c .t-c-line{
        font-size: 0.5rem;
    }
    .check-t-c .t-c-line .t-c-highlight{
        font-size: 0.7rem;
    }

    .select-doc{
        height: 8vh;
    }

    
}

