@import url('config.css');

.city-block {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    color: var(--dark);
    border-bottom: 1px solid var(--border-grey);
    width: 100%;
    min-height: 5vh;
    font-weight: 500;
    margin-left: 0.5rem;
    cursor: pointer;
}

.map-icon{
    margin-right: 0.5rem ;
}