@import url('config.css');

.nf-container .discover-people-container{
    width: 98%;
    height: 100%;
    background: var(--light);
}

.nf-container .discover-people-container .headline{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 0.8rem;
}

.nf-container .profile-portfolio-grid{
    max-width: 100%;
    padding: 0 0.8rem;
    background: var(--light);
}

.discover-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);
    border-radius: 0.7rem;
    padding: 0 0.4rem;
}

.discover-list .user-flat-div{
    width: 80%;
}

.new-friends-container{
    width: 100%;
    position: relative;
}

.new-friends-container .discover-list{
    cursor: pointer;
}

.new-friends-container .discover-list .user-flat-div{
    background: transparent;
}

.new-friends-container .discover-list:hover{
    /* background: rgba(143, 142, 142, 0.2); */
    background: #cce7ff;
}

.friends-search{
    width: 100%;
    padding: 1rem 0.5rem;
    position: relative;
}

.friends-search .search-div input{
    border: 1px solid var(--border-grey);
    padding: 0.15rem 0.8rem;
    border-radius: 0.9rem;
    font-size: 0.75rem;
    font-size: bold;
    color: var(--username-color);

}

.friends-search .search-icon{
    position: absolute;
    text-align: center;
    top: 40%;
    right: 1.6rem;
    font-size: 0.9rem;
}

.new-friends-container .chat-short{
    position: fixed;
    bottom: 0.4rem;
    right: 8vw;
    width: 20vw;
    height: 45vh;
    border-radius: 0.9rem;
    box-shadow: var(--shadow);
    overflow: hidden;

}

.new-friends-container .open-chats{
    position: fixed;
    bottom: 0.4rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.new-friends-container .open-chats .user-img{
    background: var(--peacock);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.05rem;
    margin-bottom: 0.3rem;
    box-shadow: var(--shadow);
    position: relative;
    cursor: pointer;
}

.new-friends-container .open-chats .user-img .close-chathead{
    position: absolute;
    top: -0.3rem;
    right: 0;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: var(--shadow);
    border-radius: 50%;
    /* font-size: 1.2rem; */
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}