@import url('config.css');

.edit-profile-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.edit-profile-container {
    width: 40vw;
    height: 82vh;
    background: var(--light);
    border-radius: 0.7rem;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-profile-container .profile-subnav {
    padding: 0;
    margin: 0;
}

.edit-options {
    /* flex: 1.5; */
    /* margin-top: 1rem; */
    width: 100%;
    height: 12%;
}

.edit-options .sub-slide {
    font-size: 0.9rem;
}

.edit-options .sub-nav .slide-active {
    border-bottom: 0.25rem solid var(--hover-one);
}

/* CONTENT DIV */
.content-div {
    /* flex: 3; */
    height: 100%;
    width: 100%;
    /* margin-bottom: 1rem; */
    display: flex;
    flex-direction: column;
    height: 70%;

}

.content-div .upld-pic {
    width: 100%;
    height: 40%;
    position: relative;
}

.content-div .upld-pic .e-cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.7rem 0.7rem 0 0;
}

.content-div .upld-pic .edit-coverpic {
    position: absolute;
    background: var(--light);
    border-radius: 50%;
    color: black;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

.content-div .upld-pic .prof-img-section {
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -2.5rem;
}

.prof-img-section .e-user-img-back {
    height: 8.2rem;
    width: 8.2rem;
    border-radius: 50%;
    background: var(--peacock);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.prof-img-section .e-user-img {
    height: 7.8rem;
    width: 7.8rem;
    object-fit: cover;
    border-radius: 50%;

}

.prof-img-section .edit-pic {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.5rem;
    right: 0.3rem;
}

.content-div .basic-details {
    height: 100%;
    width: 100%;
    /* background: var(--border-grey); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-div .basic-details label,
.content-div .social-details label,
.content-div .skills-section label {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    color: var(--dark);
}

.content-div .basic-details input,
.content-div .basic-details textarea,
.content-div .social-details .inp-box,
.content-div .skills-section input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-grey);
    outline: none;
    background: transparent;
    padding: 0.2rem;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}

.content-div .basic-details textarea {
    resize: none;
    min-height: 8vh;
    max-height: 12vh;


}

.content-div .details-inline {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.details-inline .inline-content {
    width: 48%;
}


/* action/button part */
.edit-actions {
    /* flex: 1.5; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border-top: 1px solid var(--border-grey); */
    height: 12%;
    /* margin-bottom: 1rem; */

}

.edit-actions .apply-btn,
.edit-actions .cancel-btn {
    width: 5rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    margin: 0;
}

.edit-actions .apply-btn {
    width: 6rem;
    margin-left: 0.4rem;
}

.content-div .social-details .react-datetime-picker {
    width: 100%;
    outline: none;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.content-div .social-details .react-datetime-picker .react-datetime-picker__wrapper {
    border: none;
    border-bottom: 1px solid var(--border-grey);
}

.content-div .social-details .social-handles {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-div .social-details .social-handles .s-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.8rem;

}

.content-div .social-details .social-handles .s-link label {
    width: 5%;
    margin-right: 0.8rem;
    font-size: 1.1rem;
    color: var(--hover-two);
}

.content-div .social-details .social-handles .s-link input {
    width: 85%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-grey);
    font-size: 0.9rem;
}

.content-div .skills-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.content-div .skills-section .select-profession {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.8rem;

}

.content-div .skills-section .select-profession label {
    width: 30%;
}

.content-div .skills-section .custom-select {
    font-size: 0.8rem;
    /* width: 30vw; */
}

.content-div .skills-section .info-text {
    font-size: 0.7rem;
    color: red;
    margin: 0.5rem 0;
}

.content-div .skills-section .skill-keywords {
    min-height: 8vh;
    width: 100%;
    border: 2px solid var(--border-grey);
    margin: 0.8rem 0;
    border-radius: 0.4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.8rem;
    flex-wrap: wrap;
}

.content-div .skills-section .skill-keywords .added-skills-text {
    position: absolute;
    top: -8px;
    left: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    background: var(--light);
    padding: 0 0.5rem;
    color: var(--dark)
}

.content-div .skills-section .add-skills {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.content-div .skills-section .add-skills .add-skills-btn{
    height: 1.5rem;
    width: 1.5rem;
    color: var(--success-color);
    margin-left: 1rem;
   
}


.cam-icon {
    cursor: pointer;
}

.content-div .skills-section .img-span{
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-div .skills-section .img-span .tag-img,
.content-div .skills-section .tag-img-count{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.content-div .skills-section .tag-img-count{
    cursor: pointer;
    background: var(--border-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}
.content-div .skills-section .review-tags{
    font-size: 0.7rem;
    font-weight: bold;
}

.nf-edit-profile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 900px) {
    .content-div {
        height: 80vh;
    }

    .edit-profile-container {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

}

@media(max-height: 500px) {

    .edit-profile-container .sub-nav .sub-slide{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .prof-img-section .e-user-img-back{
        height: 7rem;
        width: 7rem;
    }
    .prof-img-section .e-user-img{
        height: 6.8rem;
        width: 6.8rem;
    }
    .content-div .social-details .social-handles {
        height: auto;
    }

    .content-div .skills-section .info-text{
        font-size: 0.5rem;
        margin: 0.2rem 0;
        }
        
    .content-div .skills-section .skill-keywords{
            margin: 0.5rem 0;
            padding: 0.5rem; 
        }
        
    .content-div .skills-section .skill-keywords .added-skills-text{
            font-size: 0.5rem;
    }
    
        
    .content-div .skills-section .add-skills .add-skills-btn{
        height: 0.9rem;
        width: 0.9rem
        }
    .content-div .skills-section .skill-keywords .item-span{
            font-size: 0.5rem
    }

    .content-div .basic-details label,
    .content-div .social-details label,
    .content-div .skills-section label {
        font-size: 0.7rem;
    }

    .content-div .basic-details input,
    .content-div .basic-details textarea,
    .content-div .social-details .inp-box,
    .content-div .skills-section input { 
        font-size: 0.6rem;
        margin-bottom: 0.3rem;
    }
    
    .content-div .skills-section .custom-select {
        font-size: 0.6rem;
        width: 20vw;
    }
    .content-div .skills-section .img-span .tag-img,
    .content-div .skills-section .tag-img-count{
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        object-fit: cover;
        font-size: 0.8rem;
    }

    .content-div .skills-section .review-tags{
        font-size: 0.6rem;
    }
}