@import url('config.css');

.editor {
    background: transparent;
    width: 100%;
    border-bottom: 1px solid var(--border-grey);
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
  
  /* .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  } */

  .editor a,
  .editor a:link, 
  .editor a:hover,
  .editor a:active {
    color: var(--hover-two);
    font-weight: bold;
  }
  
  