@import url('config.css');

.landig-nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.landing-layout {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 80vh auto 100vh auto;
    grid-template-columns: repeat(auto-fit, 1fr);
    /* grid-gap: 1.25rem; */
}

/* hero section */
.hero {
    position: relative;
    background: url("../images/hero-banner.jpg") no-repeat center center/cover;
    grid-column: 1/2;
    width: 100%;
    height: inherit;

}



.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(241, 41, 41, 0.2);
}

/* SHOT GRID section */
.shots-grid {
    display: grid;
    margin: 0 6%;
    padding: 0;
    grid-template-rows: 3rem auto minmax(6rem, auto);
    grid-template-columns: repeat(auto-fit, 1fr);

}

.shots-head {
    background: transparent;
}


.shots-portfolio {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1.2rem;
    grid-row-gap: 0.5rem;
    /* background: violet; */

}

.shot-preview {
    /* background: blue; */
    padding: 0;
    margin: 0.7rem 0;
    display: grid;
    grid-template-rows: 15.5rem 1.75rem;
    grid-gap: 5px;
    border-radius: 0.7rem;
    max-width: 50vw;
    /* overflow: hidden; */
}

.shot-preview-alt {
    /* background: blue; */
    padding: 0;
    margin: 0.5rem 0;
    display: grid;
    grid-template-rows: 15.5rem;
    grid-gap: 5px;
    border-radius: 0.7rem;
    max-width: 50vw;
}

.sp-img {
    overflow: hidden;
    border-radius: 0.7rem;
    position: relative;

}

.sp-img:hover {
    transform: scale(1.02);
    transition: 0.06s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: var(--shadow); */
}

.sp-img img {
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow);
    object-fit: cover;
    border-radius: 0.7rem;

}
.sp-img .price-counter{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--light);
    padding: 0.3rem 0.6rem;
    border-radius: 0.7rem;
}
.sp-img .price-counter .rupee-sym{
    margin-right: 0.15rem;
}

.shot-preview .attribution-user {
    display: flex;
    align-items: center;
    min-width: 0;
}

.user-preview {
    flex: 3;
    display: flex;
    align-items: center;
    max-width: 64%;
    /* overflow: hidden; */
}

.user-preview .user-pro-pic {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    object-fit: cover;
}



.user-preview .display-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 501;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}

.like-comment-share-preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.like-comment-share-preview span {
    margin-right: 0.5rem;
    margin-left: 0.2rem;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .icons, */
.like-comment-share-preview span {
    opacity: 0.3;
}


.like-comment-share-preview .icons{
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 0.15rem;
}

.like-comment-share-preview .link{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .icons:hover {
    color: var(--hover-one);
    opacity: 1;

} */



.shots-reminder {
    padding: 1.5rem 3.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.2rem;
}

.shots-reminder .s-lead{
    font-size: 1rem;
    margin-bottom: 0.8rem;
    /* font-weight: bold; */
    background: var(--grad-chat-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



.shots-reminder .btn {
    display: inline-block;
    color: var(--light);
    padding: 0.4rem 1.3rem;
    border: none;
    font-size: 1rem;
    margin: 0.5rem;
    outline: none;
    border-radius: 0.7rem;
    transition: all 0.2s ease-in;
    background: var(--hover-two);
    box-shadow: var(--shadow);
    font-size: 0.85rem;
}

.shots-reminder .btn:hover {
    color: var(--light);
    opacity: 0.7;
}

.shots-reminder span{
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--username-color);
}

/* REVIEW SECTION */
.reviews-section{
    position: relative;
    background: url("../images/rev-back-img.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reviews-section .dark-overlay{
    background: rgba(0,0,0,0.4)
}
.reviews-section .swiper-container {
    width: 90vw;
    height: 90%;
    position: relative;
}

.reviews-section .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 1.12rem;
    width: 25vw;
    height: 60vh;
    top: 2rem;
    border-radius: 0.7rem;
}

.reviews-section .swiper-slide-active {
    transform: scale(1.06);
}

.reviews-section .swiper-button-next,
.reviews-section .swiper-button-prev {
    font-weight: bold;
    color: var(--hover-two);
}

.visit-review{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;

}

.visit-review .link{
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 2px rgba(0,0,0,0.5);
}
.visit-review .link:hover{
    color: var(--hover-one);
}

/* FOOTER SECTION */
.footer {
    /* background-color: rgba(99, 54, 221, 1); */
    /* background-color: var(--royal-red); */
    border-top: 1px solid var(--border-grey);
    display: grid;
    grid-template-rows: auto 3rem;
    color: var(--dark);
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    padding-top: 1rem;
}

.f-mod-1 {
    grid-area: f-mod-1;
    width: 30vw;
    padding-right: 1rem;
    padding-left: 1rem;
}

.f-mod-2 {
    grid-area: f-mod-2;
    width: 30vw;
}

.f-mod-3 {
    grid-area: f-mod-3;
    width: 30vw;
    overflow: hidden;
}

.footer .f-upper {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
    grid-template-areas:
        'f-mod-1 f-mod-2 f-mod-3';
    grid-gap: 2rem;
}


.f-upper .f-logo {
    background-image: var(--logo);
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1rem;
}


.f-upper .social-links{
    display: flex;
}

.f-upper .f-mod-1 p,
.f-upper .f-mod-1 h4 {
    display: block;
    /* text-align: justify; */
    max-width: 300px;
}

.f-upper .f-mod-1 h4 {
    margin-top: 0.5rem;
}

.f-upper .social-links .icons {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

}

.f-upper .f-mod-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

.f-upper ul {
    margin: 0;
    padding: 0;
}

.f-mod-2 .link {
    color: var(--dark);
}

.f-mod-2 .link:hover {
    color: black;
    font-weight: bold;
}

.f-mod-3 {
    font-weight: bolder;
}

.footer .f-lower {
    margin-bottom: 1rem;
    text-align: center;

}

.f-lower .f-mod span {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.f-lower .f-mod span .icons-active{
    font-size: 0.9rem;
    margin: 0 0.2rem;
}

@media(max-width: 1200px){
    .reviews-section .swiper-slide {
        width: 40vw;
        height: 65vh;
    }
}


/* potrait tablet, e-readers, kindle */
@media(max-width: 850px) {

    .hero {
        background: url("../images/hero-banner-small.jpg") no-repeat center center/cover;
    }
    .reviews-section{
        background: url("../images/rev-back-small.jpg") no-repeat center center/cover;
    }
    
    .shots-reminder .s-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shots-reminder .btn{
        width: 30vw;
    }

    .reviews-section .swiper-button-next,
    .reviews-section .swiper-button-prev {
        display: none;
    }

    

    .f-mod-1,
    .f-mod-2,
    .f-mod-3 {
        width: 100vw;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .footer .f-upper {
        grid-template-areas:
            'f-mod-1'
            'f-mod-2'
            'f-mod-3';
    }

    .shot-preview-alt, .shot-preview{
        max-width: 100vw;
    }
}

/* potrait on phones */
@media(max-width: 650px) {

    .reviews-section .swiper-slide {
        width: 70vw;
    }

    .rev-box p {
        height: 20vh;

    }

}


@media(max-height: 500px) and (orientation: landscape) {
    .landing-layout {
        grid-template-rows: 80vh auto 150vh auto;
    }

    .reviews-section .swiper-button-next,
    .reviews-section .swiper-button-prev {
        display: none;
    }

    .reviews-section .swiper-slide {
        width: 50vw;
        height: 110vh;
    }
}