@import url('config.css');

.liked-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loading{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liked-container .user-flat-div{
    border-bottom: 1px solid var(--border-grey);
}