@import url('./config.css');

.login-layout {
    display: grid;
    grid-template-areas: 'img-holder auth-container'
}

.img-holder {
    grid: img-holder;
    background: var(--hover-two);
    width: 40vw;
    height: 100vh;
}

.auth-container {
    grid: auth-container;
    background: var(--light);
    width: 55vw;
    /* align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    /* margin: 10% auto;
    text-align: center; */
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.login-container .text-primary ,
.login-container .lead{
    margin: 0.5rem
}
.login-form {
    width: 20vw;
}
.form-group {
    margin: 1rem 0;
}

.form-group input{
    display: block;
    border-radius: 0.3rem;
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    outline-color: var(--hover-one);

}

.f-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-flex input,
.f-flex .i-am{
    /* display: inline-block; */
    width: 48%;
    margin: 0;
    /* font-size: 1rem; */
}


/* select .i-am-option::after {
    outline-color: var(--hover-one);
} */

.apply-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    font-size: 0.8rem;
    font-weight: bold;
}

.my-1{
    font-size: 0.9rem;
}

.my-1 .link{
    font-weight: bold;
    color: var(--hover-two);
}

@media (max-width:900px) {
    .img-holder {
        display: none;
    }
    .auth-container{
        width: 100vw;
        height: 100vh;
    }

    .login-container{
        width: 100%;
        margin: 1rem 0;
    }
    .login-form{
        width: 80%;
    }
}


@media (max-height: 500px){

    .auth-container, .login-container{
        height: 100%;
        
    }

}
