@import url('config.css');

.m-h-box{
    /* height: 100%; */
    width: 100%;
    position: relative;
    background: transparent;
    /* background: red; */
}

.m-h-box .textarea{
    background: transparent;
    resize: none;
    width: 100%;
}

.m-h-box .sg-box{
    /* height: 15vh; */
    /* width: 20vw; */
    position: absolute;
    /* top: 8vh; */
    box-shadow: var(--shadow);
    z-index: 1;
    background: var(--light);

}

.m-h-box .sg-box .sg-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem 0.5rem;
    border-bottom: 1px solid var(--border-grey);
    color: black;
    cursor: pointer;
    /* font-weight: 0.8rem; */
}

.m-h-box .sg-box .sg-row:last-child{
    border-bottom: none;
}

.m-h-box .sg-box .sg-row .sg-context{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    height: 100%;
    width: 15vw;
}

.m-h-box .sg-box .sg-row .sg-context-hash{
    display: flex;
    height: 100%;
    width: 15vw;
    align-items: center;
    justify-content: space-between;
}

.m-h-box .sg-box .sg-row .sg-context .ct-top{
    font-size: 0.8rem;
    font-weight: bold;
}

.m-h-box .sg-box .sg-row .sg-context-hash .ct-top{
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 0.8rem;
}
.m-h-box .sg-box .sg-row .sg-context .ct-bottom,
.m-h-box .sg-box .sg-row .sg-context-hash .ct-bottom{
    font-size: 0.7rem;
}