@import url('config.css');

.mention {
  color: #4a85bb;
  text-decoration: none;
  z-index: 2;
}


.mentionSuggestions {
    background: var(--light);
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    width: 20vw;
    overflow-y: scroll;
    box-shadow: var(--shadow);
    z-index: 2;
    
  }
  
  .mentionSuggestionsEntryContainer {
    display: table;
    width: 100%;
  }
  
  .mentionSuggestionsEntryContainerLeft,
  .mentionSuggestionsEntryContainerRight {
    display: table-cell;
    vertical-align: middle;
    padding: 0.3rem 0;
  }
  
  .mentionSuggestionsEntryContainerRight {
    width: 100%;
    padding-left: 0.8rem;
  }
  
  .mentionSuggestionsEntry {
    /* padding: 7px 10px 3px 10px; 
     transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56); */
  }
  
  .mentionSuggestionsEntry:active {
    background-color: #cce7ff;
  }
  
  .mentionSuggestionsEntryFocused {
    background-color: #e6f3ff;
  }
  
  .mentionSuggestionsEntryContent,
  .mentionSuggestionsEntryTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .mentionSuggestionsEntryContent {
    font-size: 80%;
    font-weight: bold;
    color: #a7a7a7;
  }
  
  .mentionSuggestionsEntryTitle {
    font-size: 0.8rem;
  }
  
  .mentionSuggestionsEntryAvatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .mentionSuggestionsEntryContainerTag .mentionSuggestionsEntryContainerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 0;
  }


  @media(max-width: 900px){
    .mentionSuggestions{
      width: auto;
    }
  }