@import url('config.css');

.nf-container {
    height: 100%;
    width: 100%;
    display: flex;
}

/* LEFT SIDE MENU */

.nf-user-menu {
    flex: 0.8;
    /* border-right: 1px solid var(--border-grey); */
    height: 95vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.2rem;
    position: fixed;
    left: 0;
    background: url("../images/mountainFog.jpg") no-repeat center center/cover;
}


.nf-user-menu-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    -ms-backdrop-filter: blur(8px);
}

.nf-user-menu .nf-user-edit {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1.2;
    border-bottom: 1px solid var(--border-grey);
    padding: 0.5rem;

}

.nf-user-menu .nf-user-edit .nf-user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: red;
    border: 1px solid black; */

}

.nf-user-menu .nf-user-edit .nf-user-img .edit-pic {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 1.5rem;
    width: 1.5rem;
    bottom: 0.2rem;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.nf-user-edit .cam-icon {
    color: var(--light);
    font-size: 0.8rem;
}

.nf-user-img .cube-user-img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--shadow);
    border: 1px solid var(--peacock);
}



.nf-user-menu .m-display-name {
    margin: 0.4rem 0;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.nf-user-menu .edit-btn {
    font-size: 0.7rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0.8rem; */
}

.nf-user-menu .edit-btn .ico {
    font-size: 0.7rem;
    margin-right: 0.2rem;
    font-weight: bold;

}

.nf-user-menu .m-display-name .m-adj {
    font-size: 0.7rem;
    /* padding: 0.2rem 0; */
    line-height: 1.2;
}


.nf-user-menu .nf-user-menulist {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}


.nf-user-menulist .nf-menu-tokens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.6rem 0;
    height: 3vh;
    cursor: pointer;
    font-size: 0.9rem;
    color: black;
}

.nf-user-menulist .nf-menu-tokens:hover {
    /* color: var(--hover-one); */
    font-weight: bold !important;
}

.nf-user-menulist .nf-menu-tokens .ico {
    margin-right: 0.5rem;
}

.nf-user-menulist .nf-upper-tokens {
    flex: 2.5;
    max-height: 70vh;

}

.nf-user-menulist .nf-lower-tokens {
    flex: 1;
    border-top: 1px solid var(--border-grey);
}

.nf-post-conatiner .pf-container-3,
.nf-post-conatiner .pf-container-5,
.nf-post-conatiner .pf-container-1 {
    height: 20rem;
}

/* Feeds section */

.nf-feeds {
    flex: 3;
    margin-left: 15vw;
    min-height: 95vh;
    background-color: var(--border-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0 !important;
}

.nf-feeds .add-pst-btn .camera-cover{
    right: 28vw;
}

.nf-post-conatiner {
    width: 80%;
    background-color: var(--light);
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
}

.nf-post-conatiner:last-child {
    margin-bottom: 1.5rem;
}

.nf-post-conatiner .nfp-user-preview {
    width: 100%;
}

.nf-post-conatiner .nfp-likes-mod {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nfp-details .cmnt-count {
    font-size: 0.8rem;
    color: var(--dark);
    font-weight: bold;
    padding: 0.2rem 0;
}

.nfp-comments {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.nfp-comments .short-comment {
    width: 90%;
    border-radius: 0.9rem;
    padding: 0.4rem;
    resize: none;
    font-size: 0.8rem;
    outline: none;
}

.nf-rest {
    flex: 1.5;
    /* background: var(--border-grey); */
}


.empty-feeds{
    height: 50%;
    width: 80%;
    background-color: var(--light);
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1100px) {
    .nf-user-menu {
        width: 20vw;
        border: none;
    }

    .nf-feeds {
        margin-left: 20vw;
    }

}

@media(max-width: 900px) {
    .nf-container .nf-rest {
        display: none;
    }

    .nf-container .nf-feeds .nf-post-conatiner {
        width: 90%;
    }

    .nf-container .nf-feeds .nf-post-conatiner .pf-grid {
        max-width: 100%;
    }
    .nf-feeds .add-pst-btn .camera-cover{
        right: 2rem;
    }
}

@media (max-width: 850px) {
    .nf-container {
        overflow: hidden;
    }

    .nf-container .nf-user-menu {
        display: none !important;
    }

    .nf-user-menu .nf-user-menu-overlay {
        width: 0 !important;
    }

    .nf-container .nf-feeds {
        width: 100%;
        margin-left: 0;


    }

    .nf-container .nf-feeds .nf-post-conatiner {
        width: 100%;
    }

}

@media(max-height: 500px){
    .nf-user-img .cube-user-img{
        height: 3.5rem;
        width: 3.5rem;
    }
    
    .side-nfuser-menu .nf-user-menu .nf-user-edit{
        padding: 0.5rem
    }
    .nf-user-menulist .nf-menu-tokens{
        margin: 0.5rem 0;
        font-size: 0.8rem;
        height: auto;
    }
    
}