@import url('config.css');

.nf-container {
    height: 100%;
    width: 100%;
    display: flex;
}

/* LEFT SIDE MENU */

.nf-user-menu {
    /* border-right: 1px solid var(--border-grey); */
    height: 95vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.2rem;
    position: fixed;
    left: 0;
    background: url("../images/mountainFog.jpg") no-repeat center center/cover;
}


.nf-user-menu-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    -ms-backdrop-filter: blur(8px);
}

.nf-user-menu .nf-user-edit {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1.2;
    border-bottom: 1px solid var(--border-grey);
    padding: 0.5rem;

}

.nf-user-menu .nf-user-edit .nf-user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: red;
    border: 1px solid black; */

}

.nf-user-menu .nf-user-edit .nf-user-img .edit-pic {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 1.5rem;
    width: 1.5rem;
    bottom: 0.2rem;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.nf-user-edit .cam-icon {
    color: var(--light);
    font-size: 0.8rem;
}

.nf-user-img .cube-user-img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--shadow);
    border: 1px solid var(--peacock);
}



.nf-user-menu .m-display-name {
    margin: 0.4rem 0;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.nf-user-menu .edit-btn {
    font-size: 0.7rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0.8rem; */
}

.nf-user-menu .edit-btn .ico {
    font-size: 0.7rem;
    margin-right: 0.2rem;
    font-weight: bold;

}

.nf-user-menu .m-display-name .m-adj {
    font-size: 0.7rem;
    /* padding: 0.2rem 0; */
    line-height: 1.2;
    font-weight: normal;
}


.nf-user-menu .nf-user-menulist {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}


.nf-user-menulist .nf-menu-tokens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.6rem 0;
    height: 3vh;
    cursor: pointer;
    font-size: 0.9rem;
    color: black;
}

.nf-user-menulist .nf-menu-tokens:hover {
    /* color: var(--hover-one); */
    font-weight: bold !important;
}

.nf-user-menulist .nf-menu-tokens .ico {
    margin-right: 0.5rem;
}

.nf-user-menulist .nf-upper-tokens {
    flex: 2.5;
    max-height: 70vh;

}

.nf-user-menulist .nf-lower-tokens {
    flex: 1;
    border-top: 1px solid var(--border-grey);
}


/* Feeds section */

.nf-feeds {
    width: 55vw;
    margin-left: 15vw;
    min-height: 95vh;
    background-color: var(--border-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0 !important;
}

.nf-feeds .add-pst-btn .camera-cover{
    right: 28vw;
}

.nf-post-conatiner {
    width: 70%;
    background-color: var(--light);
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nf-post-conatiner:last-child {
    margin-bottom: 1.5rem;
}

.nf-post-conatiner .nfp-user-preview {
    width: 100%;
}

.nf-post-conatiner .nfp-portfolio-preview{
    width: 35vw;
    height: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--hover-one); */
}

.nf-post-conatiner .nfp-portfolio-preview .pf-grid{
    height: 100%;
    width: 100%;
}
.nf-post-conatiner .pf-container-3,
.nf-post-conatiner .pf-container-5,
.nf-post-conatiner .pf-container-1 {
    height: 100%;
    width: 100%;
    /* height: 20rem; */
}

.nf-post-conatiner .pf-container-1 .pf-one{
    position: relative;
    object-fit: cover;
}
.nf-post-conatiner .pf-container-1 .pf-one .pf-img{
    object-fit: contain;
    position: absolute;
    z-index: 1;
} 

.nf-post-conatiner .pf-container-1 .pf-one .background-decor{
    display: flex;
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.nf-post-conatiner .pf-container-1 .pf-one .background-decor .decor-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px);
    -ms-backdrop-filter: blur(8px);
}

.nf-post-conatiner .pf-container-1 .pf-one .background-decor .pf-one-background-cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nf-post-conatiner .nfp-likes-mod {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nf-post-conatiner .nfp-details{
    width: 100%;
    cursor: pointer;
}

.nf-post-conatiner .nfp-details .m-dt{
    font-size: 0.7rem;
    padding: 0.4rem 0;
}
.nfp-details .cmnt-count {
    font-size: 0.72rem;
    color: var(--hover-two);
    font-weight: bold;
    /* padding: 0.2rem ; */
    height: 5vh;
    /* background: var(--border-grey); */
    display: flex;
    align-items: center;
}

.nfp-details .m-display-name{
    display: block;
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: bold;
    text-overflow: ellipsis;
}

.nfp-details .m-description{
    margin-top: 0.4rem;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.nf-rest {
    width: 30vw;
    position: relative;
    
}

.nf-rest .nf-fixed{
    position: fixed;
    padding: 0.5rem 1rem ;
}

.nf-rest .s-label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nf-rest .s-label h4{
    margin: 0.5rem 0;
    font-size: 0.95rem;
}

.nf-rest .s-label .s-tag{
    font-size: 0.8rem;
    margin-left: 0.5rem;
    color: var(--username-color);
    font-weight: bold;
}

.nf-rest .nf-discover{
    margin-top: 0.5rem;
}

.nf-rest .see-more{
    /* background: red; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    padding: 0.3rem 0;
}

.nf-rest .see-more .link{
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--hover-two);

}
.empty-feeds{
    height: 50%;
    width: 70%;
    background-color: var(--light);
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1100px) {
    .nf-user-menu {
        width: 20vw;
        border: none;
    }

    .nf-feeds {
        margin-left: 20vw;
    }
    .nf-post-conatiner .nfp-portfolio-preview{
        width: 100%;
    }
    .nf-container .nf-feeds .nf-post-conatiner, 
    .empty-feeds {
        width: 90%;
    }
    .nf-post-conatiner .nfp-portfolio-preview{
        height: 40vw;
    }

}

@media(max-width: 900px) {
    .nf-container .nf-rest {
        display: none;
    }

    .nf-feeds{
        width: initial;
    }
    .nf-post-conatiner .nfp-portfolio-preview{
        height: 55vw;
    }

    .nf-container .nf-feeds .nf-post-conatiner .pf-grid {
        max-width: 100%;
    }
    .nf-feeds .add-pst-btn .camera-cover{
        right: 2rem;
    }
    .nf-container .nf-feeds {
        width: 100%;
        margin-left: 0;


    }
}

@media (max-width: 850px) {

    .nf-container {
        overflow: hidden;
    }

    .nf-container .nf-user-menu {
        display: none !important;
    }

    .nf-user-menu .nf-user-menu-overlay {
        width: 0 !important;
    }

    .nf-container .nf-feeds {
        width: 100%;
        margin-left: 0;


    }

    .nf-container .nf-feeds .nf-post-conatiner, .empty-feeds {
        width: 100%;
    }
    .nf-post-conatiner .nfp-portfolio-preview{
        height: 45vh;
    }

}

@media(max-height: 500px){
    .nf-user-img .cube-user-img{
        height: 3.5rem;
        width: 3.5rem;
    }
    
    .side-nfuser-menu .nf-user-menu .nf-user-edit{
        padding: 0.5rem
    }
    .nf-user-menulist .nf-menu-tokens{
        margin: 0.5rem 0;
        font-size: 0.8rem;
        height: auto;
    }

    .nf-post-conatiner .nfp-portfolio-preview{
        height: 70vw;
    }
    .nf-post-conatiner .nfp-likes-mod{
        height: 8vh;
    }
    .user-flat-div{
        height: 10vh;
        /* padding: 0.4rem; */
    }
    
}