@import url('config.css');

.nf-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.nf-user-menu{
    flex: 0.8;
    background: var(--border-grey);
    border-right: 1px solid var(--border-grey);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.2rem;
    /* position: sticky;
    top: 5rem; */
}

.nf-user-menu .nf-user-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1.2;
    border-bottom: 1px solid var(--dark);
    
}

.nf-user-menu .nf-user-edit .nf-user-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nf-user-menu .nf-user-edit .nf-user-img .edit-pic{
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.nf-user-edit .cam-icon{
    position: relative;
    /* color: var(--hover-one); */
    margin: 0;
    left: -0.6rem;
    cursor: pointer;
}

.nf-user-img .cube-user-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}



.nf-user-menu .m-display-name{
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem
}

.nf-user-menu .edit-btn{
    font-size: 0.8rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0.8rem; */
}
.nf-user-menu .edit-btn .ico{
    font-size: 0.9rem;
    margin-right: 0.2rem;
    font-weight: bold;

}
.nf-user-menu .m-display-name .m-adj{
    font-size: 0.8rem;
    /* padding: 0.2rem 0; */
    line-height: 1.2;
}


.nf-user-menu .nf-user-menulist{
    flex: 3
}



.nf-feeds{
    flex: 3
}

.nf-rest{
    flex: 1.5;
    background: var(--border-grey);
}