@import url('config.css');
.noti-cube{
    width: 70%;
    margin-top: 0.8rem;
    background: var(--light);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.noti-cube:last-child{
    margin-bottom: 0.8rem;
}
.noti-content{
    flex: 2;
    margin: 0 0.5rem
    
}
.noti-content .m-display-name{
    font-size: 0.9rem;
    margin: 0 0.12rem;
}

.noti-content .noti-body{
    font-size: 0.9rem;
}

.noti-cube .noti-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noti-cube .noti-options .close-btn{
    font-size: 1.2rem;
}

.selection-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection-overlay .selection-option{
    width: 32vh;
    background: var(--light);
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.selection-overlay .escape-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.selection-option .s-noti{
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid var(--border-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
    
}

.selection-option .s-noti .close-btn{
    font-size: 1rem;
    margin: 0 0.6rem;
    color: var(--hover-one);
}

.empty-notifications{
    margin-top: 0.5rem;
    padding: 5rem 0;
    width: 70%;
    padding: 5rem;
    background: var(--light);
}
@media (max-width: 850px){
    .noti-cube, 
    .empty-notifications
    {
        width: 95%;
        margin-top: 0.5rem;
    }
    .noti-cube:last-child{
        margin-bottom: 0.5rem;
    }
}

@media (max-height: 500px){
    .selection-overlay .selection-option{
        width: 40vw;
    }

    .selection-option .s-noti{
        height: 10vh;
    }
}