@import url('config.css');

.settings-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background: red; */
}

.settings-container .side-bar-head{
    margin-bottom: 0.5rem;
}

.set-menu {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.6rem;
    border-bottom: 1px solid var(--border-grey);
    cursor: pointer;
    border-radius: 1.5rem 0;
}

.set-menu .ico {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.set-menu:hover {
    font-size: 0.9rem;
    font-weight: bold;
    /* color: var(--hover-two); */
    transition: all 0.12s;
    text-shadow: 1px 2px rgba(0,0,0,0.05);
}

.set-menu-label{
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.8rem;
    background-color: var(--border-grey);
    border-radius: 1.5rem 0;
    
}

.select-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select-options:hover {
    font-weight: initial !important;
}

.select-options .prev-selected{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-options .selected-text{
    font-size: 0.7rem;
    /* padding: 0.2rem */
}

.select-options .opt-dropdown{
    position: absolute;
    top: 5vh;
    right: 0.8rem;
    box-shadow: var(--shadow);
    padding: 0 0.5rem;
    z-index: 1;
    background: var(--light);
}

.select-options .opt-dropdown .opt-menu{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7rem;
    border-bottom: 1px solid var(--border-grey);
}

/* change password */
.change-pass-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.change-pass-container label
{
    width: 100%;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.5rem
}
.change-pass-container .password-inp-field{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 0.5rem 0;
}

.change-pass-container .password-inp-field input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-grey);
    font-size: 0.8rem;
    padding: 0.5rem;   
}

.change-pass-container .password-inp-field .show-hide-icon{
    position: absolute;
    top: 2vh;
    right: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.change-pass-container .password-inp-field .password-matched{
    border: none !important;
    border-bottom: 1px solid rgba(71, 209, 71, 1) !important;
    box-shadow: 0 4px 2px -2px rgba(71, 209, 71, 1);

}
.change-pass-container .password-inp-field .password-not-matched{
    border: none !important;
    border-bottom: 1px solid rgba(243, 32, 19, 1) !important;
    box-shadow: 0 4px 2px -2px rgba(243, 32, 19, 1);

}
.change-pass-container .submit-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    width: 100%;
}

.change-pass-container .submit-div .submit-btn{
    font-size: 0.8rem;
    font-weight: bold;
}

/* login activity */

.login-details-div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
    border-bottom: 1px solid var(--border-grey);

}

.login-details-div .location-content{
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
    
}

.login-details-div .location-content .loc{
    font-size: 0.85rem;
    font-weight: bold;
}

.login-details-div .location-content .activity-time{
    font-size: 0.75rem;
}

.settings-container .edit-profile-overlay{
    height: 100%;
    max-width: 30vw;
}

.settings-container .edit-profile-container{
    height: 100%;
    width: 100%;
    /* width: 30vw; */
    border-radius: 0;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
}

.user-input-popup-container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input-popup-container .user-input-popup{
    padding: 0.6rem 0.8rem ;
    border-radius: 0.7rem;
    font-size: 0.8rem;
    background: var(--light);
}

.user-input-popup-container .user-input-popup .pop-up-action{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    border-top: 1px solid var(--border-grey);
}
.user-input-popup-container .user-input-popup .pop-up-action .pop-up-option-opt{
    cursor: pointer;
    margin-top: 0.5rem;
}

.user-input-popup-container .user-input-popup .pop-up-action .pop-up-option-opt:hover{
    color: var(--hover-one);
}

.settings-container .recent-search-div .s-recent-div{
    width: 100%;
    margin-right: 0;
    background: transparent;
    padding: 0.3rem 0.6rem;
    border-bottom: 1px solid var(--border-grey);
}

.settings-container .recent-search-div .s-recent-div .hash-circle {
    background: var(--border-grey);
}

.manage-mail-conatainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.manage-mail-conatainer .default-mail{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-grey);
    border-radius: 1.5rem 0;
    
}

.manage-mail-conatainer .default-mail .email-id{
    padding: 0.4rem 0.5rem;
    font-weight: bold;
}

.manage-mail-conatainer .email-id{
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
   
}

.manage-mail-conatainer .add-new{
    min-height: 6vh;
    width: 100%;
    padding : 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--hover-two);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.manage-mail-conatainer .add-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    border: 1px dotted var(--hover-two);
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
}

.manage-mail-conatainer .add-email input{
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-grey);
    font-size: 0.8rem;
    padding: 0.5rem;
}

.manage-mail-conatainer .add-email .ico{
    font-size: 1.2rem;
    color: var(--success-color);
}

.manage-mail-conatainer .non-default{
    width: 100%;
    height: 5vh;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-grey);
    border-radius: 1.5rem 0;
}

.manage-mail-conatainer .non-default .email-id{
    width: 65%;
}

.manage-mail-conatainer .non-default .action-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.7rem;
    width: 35%;
    color: var(--hover-two)
    
}

@media(max-height: 500px){
    .set-menu,
    .login-details-div,
    .manage-mail-conatainer .non-default{
        height: 10vh;
    }
    .select-options .opt-dropdown{
        top: 10vh;
    }
    .select-options .opt-dropdown .opt-menu{
        height: 6vh;
    }

    .settings-container .edit-profile-overlay{
        position: absolute;
        top: 0;
    }
    .settings-container .sub-nav .sub-slide{
        font-size: 0.8rem;
        font-weight: bold;
    }

}