@import url('config.css');

.side-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.5rem;
    overflow-y: scroll;
    transition: width 0.15s;
    border-left: 1px solid var(--border-grey)
}

.side-bar-head {
    width: 100%;
    height: 6vh;
    /* flex: 1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 1rem; */
    border-bottom: 1px solid var(--border-grey);
}

.side-bar-head .back-div {
    height: 100%;
    width: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.4rem;
}

.side-bar-head .close-btn {
    /* flex: 1; */
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    color: var(--dark);
    /* padding: 0.2rem; */
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.side-bar-head .close-btn:hover {
    color: var(--hover-two);
}

.side-bar-head .search-btn {
    height: 2rem;
    width: 2rem;
}

.side-bar-head .search-div input {
    width: 90%;
    font-size: 0.8rem;
}

.side-bar-head .alternate-text {
    font-size: 0.9rem;
    font-weight: bold;
}

.side-bar-content {
    flex: 10
}

/* TAG LIST */

.tag-user-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-grey);

}

.tag-user-div .user-f {
    flex: 2;
}

.tag-user-div .m-follow {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.tag-user-div .m-follow .m-fuser {
    font-size: 0.7rem;
    font-weight: bold;
    /* height: 5vh;
    width: 6vw; */
    padding: 0.5rem 0.8rem;
    /* padding: 0; */
    margin: 0
}

.tag-user-div .close-btn {
    height: 1.8rem;
    width: 1.8rem;
}

.tag-user-div .add-fill {
    color: var(--success-color);
}

@media(max-width: 900px) {
    .side-bar-head .back-div {
        width: 5vw;
        margin-right: 0.8rem;
    }
}

@media(max-height: 500px) and (orientation: landscape) {

    .side-bar-head{
        height: 10vh;
    }

    .tag-user-div{
        height: 10vh;
    }
    .tag-user-div .tag-div-btn {
        height: 1.5rem;
        width: 1.5rem;
    }

    .side-bar-content {
        line-height: 1.2;
    }

    .tag-user-div .m-follow .m-fuser{
        padding: 0.4rem 0.8rem;
        font-size: 0.65rem;
    }
}