@import url('config.css');

/* subnav */
.profile-subnav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 0 6%;
}

.sub-nav {
    width: 100%;
    white-space: nowrap;
    display: flex;
    padding: 0;
    padding-top: 0.5rem;
    margin: 0;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid #b8b4b4; */
    border-bottom: 1px solid var(--border-grey);
    color: var(--dark);


}

.sub-nav .sub-slide {

    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.35;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-nav .sub-count {
    font-weight: 300;
    font-size: 0.6rem;
    padding: 0.4rem;
}

.sub-nav .slide-active {
    border-bottom: 0.4rem solid var(--hover-one);
}

@media(max-width: 600px) {
    .sub-nav .sub-slide {
        font-size: 0.8rem;
    }

    .sub-nav .sub-count {
        font-size: 0.4rem;
        padding: 0.2rem;
    }
}